.collections-content {
    position: relative;
    left: 400px;
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
    margin-top: 60px;
    width: 70%;
    min-height: 1000px;
}

.collections-content h1 {
  font-weight: 900;
  font-size: 48px;
}