.wallet-settings-page {
  width: 1440px;
  padding: 80px;
  background: #FFFFFF;
  font-family: 'Inter', sans-serif;
}

.wallet-settings-page h1 {
  font-size: 42px;
  font-weight: 800;
  color: #000000;
}

.header-sub {
  font-size: 18px;
  color: #000000;
  margin-bottom: 6px;
  margin-top: 50px;
}

.p-sub {
  margin-bottom: 40px;
}

.wallet-divider {
  width: 617px;
  left: 77px;
  border-top: 1px solid #000;
}

.link-wallet {
  position: absolute;
  width: 462px;
  height: 56px;
  background: #D9D9D9;
  border: 1px solid #000;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
}


.wallet-settings-preference-list {
  width: 100%;
}

.wallet-settings-preference-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  border-bottom: 1px solid rgba(207, 219, 213, 0.6);
  padding-bottom: 12px;
}

.wallet-settings-preference-labels {
  display: flex;
  flex-direction: column;
}

.wallet-settings-preference-labels span:first-child {
  font-size: 12px;
  color: #5D5D5B;
  font-weight: 500;
}

.wallet-settings-preference-labels span:last-child {
  font-size: 14px;
  color: #000000;
  font-weight: 700;
  margin-top: 4px;
}

.wallet-settings-toggle-switch {
  width: 40px;
  height: 22px;
  background: #7A52F4;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  transition: background 0.3s;
}

.wallet-settings-toggle-switch.off {
  background: transparent;
  border: 1px solid rgba(207, 219, 213, 0.6);
}

.wallet-settings-toggle-circle {
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: left 0.3s;
}

.wallet-settings-toggle-switch.on .wallet-settings-toggle-circle {
  left: 21px;
}

.wallet-settings-toggle-switch.off .wallet-settings-toggle-circle {
  background: #000000;
  left: 3px;
}