.empty-page-state {
  text-align: center;
  margin-top: 50px;
}

.empty-page-state-image {
  margin-bottom: 40px;
}

.empty-page-suggestion {
  color: #666;
  margin-bottom: 60px;
}

.empty-page-explore-button {
  padding: 20px 50px;
  background-color: #7A52F4;
  color: white;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  margin-bottom: 10rem;
  text-decoration: none;
}
