.marketplace-nft-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  height: 300px;
}

.marketplace-nft-image {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.marketplace-nft-info {
  padding: 10px;
}

.marketplace-nft-info h3 {
  font-size: 16px;
  font-weight: bold;
}
