.top-bar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}

.logo-circle {
  width: 40px;
  height: 40px;
  background: radial-gradient(187.89% 187.89% at 19.04% 84.98%, #7A52F4 0%, #F20089 100%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-shape {
  width: 20px;
  height: 22.5px;
  background-color: white;
}

.cancel-button {
  padding: 15px 40px;
  background: #7A52F4;
  color: white;
  font-weight: 700;
  font-size: 14px;
  border-radius: 999px;
  border: none;
  text-decoration: none;
}