.nft-details-related {
  background-color: #fff;
  margin: 50px;
}

.nft-details-related-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.nft-details-related-card {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 13px;
}

.nft-details-related-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.nft-details-related-card h3 {
  margin: 10px 0;
  font-size: 16px;
}
