.payout-list-v1 {
  display: flex;
}

.payout-table {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.payout-table-header, .payout-table-row {
  display: grid;
  grid-template-columns: 2fr repeat(5, 1fr);
  padding: 20px 20px;
  border-radius: 15px;
  gap: 20px;
  align-items: center;
}

.payout-table-row {
  border: 1px solid #ddd;
}

.payout-table-header {
  font-weight: bold;
  background-color: #EBF0F0;
}

.payout-table-item {
  font-weight: bold;
}

.payout-table-item div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.payout-table-item div img {
  object-fit: cover;
}

.payout-table-item div .payout-table-project-image {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.payout-table-item div .payout-table-blockchain-image {
  width: 30px;
  height: 30px;
}

.payout-table-item div .payout-table-author-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.payout-table-project-item-status {
  border: 1px solid #ddd;
  border-radius: 999px;
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.payout-table-project-item-paid {
  width: 11px;
  height: 11px;
  background-color: #7A52F4;
  border-radius: 50%;
}

.payout-table-project-item-pending {
  width: 11px;
  height: 11px;
  background-color: #F4C952;
  border-radius: 50%;
}